receivers:
  otlp:
    protocols:
      grpc:
        endpoint: 0.0.0.0:4317
      http:
        endpoint: 0.0.0.0:4318

processors:
  batch:

exporters:
  otlphttp/elastic:
    # O endpoint deve ser o do seu APM (com a porta 443)
    endpoint: "https://xxxxx.ingest.us-central1.gcp.elastic.cloud:443"
    headers:
      Authorization: "ApiKey xxxxxxxx"

service:
  pipelines:
    traces:
      receivers: [otlp]
      processors: [batch]
      exporters: [otlphttp/elastic]
    metrics:
      receivers: [otlp]
      processors: [batch]
      exporters: [otlphttp/elastic]
    logs:
      receivers: [otlp]
      processors: [batch]
      exporters: [otlphttp/elastic]
